{% extends "portfolio/base.html" %}

{% block background %}
    class='landing'
{% endblock background %}

{% block content %}
    
<div class="container fill">
    <div class="wrap">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <img class="img-responsive rounded-img" src="/media/city_brandon.jpg" alt="photo of Brandon">
            </div>
            <div class="col-md-8 col-md-pull-4 about">
                <h1 class="text-center fadeIn fade-one">Hi, my name is Brandon</h1>
                <p class="fadeIn fade-two">I am a Computer Science student at IUPUI. Currently my skills include HTML, CSS, Javascript and Python. I like learning new skills and am always looking to improve. I am eager to work with and learn from a more experienced team of developers.</p>
                <div class="text-center fadeIn fade-two v-center">
                    <a href="https://github.com/haakensonb" target="_blank"><i class="fa fa-4x fa-github social" aria-hidden="true"></i></a>
                    <a class="projects-link" href="{% url 'portfolio:portfolio' %}">Check out my projects</a>
                    <a href="https://codepen.io/untamedhawk44/" target="_blank"><i class="fa fa-4x fa-codepen social" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
