{% extends "portfolio/base.html" %}

{% block content %}
    <section id="projects">
    <h1 class="text-center">Projects</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/blog.png" alt="my blog">
                    <h3 class="underline">Simple Blog</h3>
                    <p>I built the blog portion of this site using Django and wrote about <a href="https://brandonhaakenson.me/blog/2/">my process here</a></p>
                    <a target="_blank" href="https://github.com/haakensonb/portfolio_django" class="src-link">View Source</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/ips-llc-2.png" alt="ips-llc landing page">
                    <h3 class="underline">Small Business Landing Page</h3>
                    <p>A front end site for displaying product and contact information. Built with SCSS</p>
                    <a target="_blank" href="http://ips-llc.net" class="src-link">View Source</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/pokemon.PNG" alt="who's that pokemon">
                    <h3 class="underline">Who's That Pokemon?</h3>
                    <p>A recreation of a classic Pokemon mini-game in which the viewer had to guess the pokemon by seeing a silhouette of it.</p>
                    <a target="_blank" href="https://github.com/haakensonb/whos_that_pokemon" class="src-link">View Source</a>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/pomodoro.PNG" alt="pomodoro timer">
                    <h3 class="underline">Pomodoro Timer</h3>
                    <p>A timer built with Javascript based on the Pomodoro technique</p>
                    <a target="_blank" href="https://codepen.io/untamedhawk44/pen/MbZxXd" class="src-link">View Source</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/simon_says.PNG" alt="simon says">
                    <h3 class="underline">Simon Says</h3>
                    <p>A simple version of Simon Says using color sequences</p>
                    <a target="_blank" href="https://codepen.io/untamedhawk44/pen/xgXjqK" class="src-link">View Source</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project well">
                    <img class="img-responsive center" src="/media/todo.PNG" alt="todo app">
                    <h3 class="underline">Todo App</h3>
                    <p>A simple Todo app made with vanilla Javascript</p>
                    <a target="_blank" href="https://github.com/haakensonb/todo_app" class="src-link">View Source</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}
