<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>About</h3>
                <p>I write about my programming learning experiences. Also I go through the steps I took to create some of my projects.</p>
            </div>
            <div class="sidebar-module">
                <h4><i class="fa fa-archive fa-color" aria-hidden="true"></i> Archives</h4>
                {% regroup latest_posts_list by pub_date|date:"Y" as year_list %}
                    {% for year in year_list %}
                        
                        {% regroup year.list by pub_date|date:"m" as month_list %}
                            {% for month in month_list %}
                                <a href="{% url 'blog:archives' year.grouper month.grouper %}">{{ year.grouper }} {{ month.grouper }}</a> <br>
                            {% endfor %}

                    {% endfor %}
            </div>
            <div class="sidebar-module">
                <h4><i class="fa fa-tags fa-color" aria-hidden="true"></i> Tags</h4>
                {% for tag in tags %}
                    <a class="tag" href="{% url 'blog:by_tag' tag.word %}">{{ tag.word }}</a>
                {% endfor %}
            </div>
        </div>